[Unit]
Description=Xbox 360 gamepad emulator

[Service]
ExecStart=/usr/bin/python3 /usr/bin/xbox360gamepad.py
ExecStop=/bin/kill $MAINPID
KillMode=process
Type=simple
StandardOutput=/var/xbox360service.log
StandardError=/var/xbox360service_error.log

[Install]
WantedBy=default.target
